div.desc{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: aligned;
 
    opacity: 0.5;
    position: absolute;
    width: 270px;
    overflow: hidden;
}

div.desc.h3{
	left: 25%;
}
.fix{
    width: 100%;
    padding: 0px;
}
