div.desc{
    background-color: #000;
    bottom: 0;
    color: #ffffff;
    text-align: center; 
 
    opacity: .8;
    position: absolute;
    width: 270px;
    overflow: hidden;
}

desc.h3{
	position: center;
}
.fix{
    width: 100%;
    padding-left: 15px;
}

.col-xs-3{
    padding-left: 15px;

}

.col-sm-8{
    padding-top: 0;
}
